@model IEnumerable<App_Gym.Models.Actividad>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cantTurnos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantTurnosDisponibles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cantTurnos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantTurnosDisponibles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idActividad">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idActividad">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idActividad">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
